$EM-BASE: 18px;

// $FOLDERS
$IMAGES_DIR: '../assets/images/';

// $MEDIA-QUERIES
$XS_MAX_WIDTH: 450px;
$SM_MIN_WIDTH: 768px;
$MD_MIN_WIDTH: 992px;
$LG_MIN_WIDTH: 1200px;

// $COLORS
$COLOR_WHITE: #fcfdff;
$COLOR_BLACK: #383f4f;
$COLOR_GREY: #686e7a;
$COLOR_GREEN: #5fc19a;

// $FONTS
$FONT_MONOSPACE: 'Nova Mono', monospace;
$FONT_SERIF: 'Rozha One', serif;
